# This is the connection string used for manipulating the atom schema in unit
# tests.  The database should be empty, and the user from whom you connect
# should have privileges to create schemas and tables.
ATOM_DB_CONNECT = "dbname='firmant'"
ATOM_DB_CONNECT_WRITE = "dbname='firmant'"

# This user should have the ability to drop schemas and tables.  It should not
# be enabled in production.
OMNIPOTENT_DB_CONNECT = "dbname='firmant'"

# Load our resolvers.
from firmant.frontend.txt.resolvers import TxtDateResolver
URL_RESOLVERS = [TxtDateResolver(), ]
