# This is the connection string used for manipulating the atom schema in unit
# tests.  The database should be empty, and the user from whom you connect
# should have privileges to create schemas and tables.
ATOM_DB_CONNECT = "dbname='firmant'"
ATOM_DB_CONNECT_WRITE = "dbname='firmant'"

# This user should have the ability to drop schemas and tables.  It should not
# be enabled in production.
OMNIPOTENT_DB_CONNECT = "dbname='firmant'"

# The component of the hostname.  Must be suitable for the first parameter of
# urlparse.urljoin
HOST = 'http://localhost:8080/'

# The generator string.  Please leave as 'firmant' just to spread the word (or
# change it if you absolutely must).
GENERATOR = 'Firmant 0.10'

# Our enabled components
PLUGINS = ['firmant.frontend.txt',
           'firmant.frontend.jinja2',
           'firmant.frontend.atom',
           'firmant.filters.markdown',
           'firmant.db.atom']
ENTRY_PERMALINK = 'firmant.frontend.jinja2.resolvers'

FRONTEND_TXT_PREFIX = ''
FRONTEND_JINJA2_PREFIX = 'jinja2'
FRONTEND_JINJA2_ENCODING = 'utf-8'
FRONTEND_JINJA2_MIME = 'text/html'
FRONTEND_ATOM_PREFIX = 'atom'

import os
TEMPLATES = [os.path.join(os.getcwd(), 'templates')]

# Atom Default Feed ('/atom/')
ATOM_DEFAULT_TITLE = 'Firmant Atom Feed'
ATOM_DEFAULT_RIGHTS = 'Same as source.'
ATOM_DEFAULT_SUBTITLE = 'The default atom feed'

# Markdown options
MARKDOWN_XHTML_ENABLED = True
# Valid options: 'replace', 'remove', 'escape'
MARKDOWN_XHTML_SAFE_MODE = 'escape'

# Backend options
ATOM_PROVIDER = 'firmant.db.atom'
