# The component of the hostname.  Must be suitable for the first parameter of
# urlparse.urljoin
HOST = 'http://localhost:8080/'

# Our enabled components
PLUGINS = ['test.datasource.atom',
           'firmant.plugins.filters.markdown',
           'firmant.plugins.datasource.flatfile.atom',
           'firmant.views',
           'firmant.plugins.views.txt',
           'firmant.plugins.views.atom',
           'firmant.plugins.views.jinja2viewprovider',
           'firmant.plugins.views.jinja2globalplugins']
ENABLED_VIEWS = [
'firmant.plugins.views.jinja2viewprovider.Jinja2FrontendViewProvider',
                 'firmant.plugins.views.atom.AtomFeedViewProvider',
                 'firmant.plugins.views.txt.TxtFrontendViewProvider',
                 'firmant.views.CatchallProvider']
ENTRY_PERMALINK = 'firmant.plugins.views.jinja2viewprovider'
FEED_PERMALINK  = 'firmant.plugins.views.atom'

# Atom Default Feed ('/atom/')
ATOM_DEFAULT_TITLE = 'Firmant Atom Feed'
ATOM_DEFAULT_RIGHTS = 'Same as source.'
ATOM_DEFAULT_SUBTITLE = 'The default atom feed'

# Markdown options
MARKDOWN_XHTML_ENABLED = True
# Valid options: 'replace', 'remove', 'escape'
MARKDOWN_XHTML_SAFE_MODE = 'escape'

# Backend options
ATOM_PROVIDER = 'firmant.plugins.datasource.flatfile.atom.FlatfileAtomProvider'

# Flatfile options
FLATFILE_BASE = 'checkout/'

VIEW_TXT_FRONTEND_PREFIX = 'txt'
VIEW_JINJA2_FRONTEND_PREFIX = 'jinja2'
VIEW_ATOM_FEED_PREFIX = 'atom'

JINJA2_TEMPLATE_DIR = 'templates/'
JINJA2_ENTRIES_PER_PAGE = 1

MEDIA_FS_PATH = 'templates/static'
MEDIA_URL_PATH = '/static/'
