<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/reset-fonts-grids/reset-fonts-grids.css" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/base/base-min.css" />
    <link rel="stylesheet" href="{{ MEDIA_PATH }}/style.css" type="text/css" media="screen" />

    <title>{% block title %}Firmant{% endblock %}</title>
</head>
<body>
    <div id="doc4" class="yui-t5">
        <div id="hd">
            <h1>Firmant-Powered Blog</h1>
        </div>
        <div id="bd">
            <div id="yui-main">
                <div class="yui-b">
                    {%- block content %}{% endblock %}
                </div>
            </div>
            <div class="yui-b sidebar">
                <div class="sidebox">
                    <h3>Recent Posts</h3>
                    <ul>
                        {% for entry in recent_entries %}
                        <li><a href="{{ entry[1] }}">{{ entry[0] }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="sidebox">
                    <h3>Archives</h3>
                    <ul>
                        {% for month in list_months %}
                        <li><a href="{{ month[1] }}">{{ month[0] }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="ft">
        <!-- Redistributions of this theme (either as packaged themes or in use
        on a website) must include the following link and copyright notice. -->
        <p>Site Layout &copy; 2009 <a href="http://robescriva.com/">Robert Escriva</a></p>
        <p>
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">
            <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/us/88x31.png" />
        </a>
        </p>
    </div>
</body>
</html>
