{% extends 'frontend/base.html' %}

{% block title %}Firmant Post{% endblock %}

{% block content %}
<h1 class="title">{{ entry.title | escape }}</h1>
<div class="entry single">
    <div class="metadata">
        <span>Written by <a href="{{ entry.author.uri }}">
                {{ entry.author.name | escape }}</a>.</span>
        <span>Published on {{ entry.published.strftime("%Y-%m-%d") }} at
            {{ entry.published.strftime("%H:%M") }}.</span>
    </div>
    <div class="content">
        {{ entry.content }}
    </div>
    <div class="metadata">
        <span>Filed under {{ entry.category.term | escape }}.</span>
        <span>Last updated on {{ entry.updated.strftime("%Y-%m-%d") }} at
            {{ entry.updated.strftime("%H:%M") }}.</span>
    </div>
</div>
{% endblock %}
