{% if entries %}
    {% for entry in entries %}
    <div class="entry">
        <h2><a href="{{ entry.permalink }}">{{ entry.title | escape }}</a></h2>
        <div class="summary">
            {{ entry.summary }}
        </div>
        <div class="metadata">
            <span>Written by <a href="{{ entry.author.uri }}">
                    {{ entry.author.name | escape }}<a/>.</span>
            <span>Published on {{ entry.published.strftime("%Y-%m-%d") }} at
                {{ entry.published.strftime("%H:%M") }}.</span>
            <span>Filed under {% for tag in entry.tags %}{{ tag.title |
                escape}} {% endfor %}.</span>
        </div>
    </div>
    {% endfor %}
{% else %}
<p>The archive in question does not contain any entries (perhaps this is the
last page?</p>
{% endif %}
